.wrapper {
  color: $gray-2;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;

  @include non-desktop() {
    padding: 50px;
  }

  @include mobile() {
    padding: 20px;
  }
}
